@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*
{
    box-sizing: border-box;
}

body
{
    font-family: 'Poppins', sans-serif;
    background: rgb(128, 98, 93) no-repeat center center/cover;
    color: white;
    min-height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.breathing
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 300px;
    margin: auto;
    position: relative;
    transform: scale(1);
}

.breathing.expand
{
    animation: expand 3s linear forwards;
}

.breathing.contract
{
    animation: contract 3s linear forwards;
}

.grad-circle
{
    background: conic-gradient(
        #6d3341 0%,
        #7c1937 40%,
        white 40%,
        white 60%,
        #6d3341 60%,
        #7c1937 100%
    );
    height: 320px;
    width: 320px;
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: -2;
    border-radius: 50%;
}

.circle
{
    background-color: rgb(56, 7, 0);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 50%;
}

.pointer-container
{
    position: absolute;
    top: -40px;
    left: 140px;
    width: 20px;
    height: 190px;
    animation: rotate 7.5s linear forwards infinite;
    transform-origin: bottom center;
}

.pointer
{
    background-color: white;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: block;
}

@keyframes expand
{
    from
    {
        transform: scale(1);
    }
    to
    {
        transform: scale(1.2);
    }
}

@keyframes contract
{
    from
    {
        transform: scale(1.2);
    }
    to
    {
        transform: scale(1);
    }
}

@keyframes rotate
{
    from
    {
        transform: rotate(0deg);
    }
    to
    {
        transform: rotate(360deg);
    }
}